.button {
    cursor: pointer;
    border: none;
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: var(--block-hover)
}

.buttonActive {
    background-color: var(--block-hover);
}